.d{
    color: blanchedalmond;
    height: 5px;
}
#id1{
    color: crimson;
    background-color: green;
    height: 100px;
    width: 100px;
   
}
.m{
    color: aquamarine;
    background-color: lightblue;
    height: 100px;
    width: 100px;
}
.d{
    color: rgb(255, 127, 150);
    background-color: rgb(220, 230, 173);
    height: 100px;
    width: 100px;
}

